
@{
    ViewBag.Title = "Cloudify";
    Layout = "~/Views/Shared/_ProjectsLayout.cshtml";
    ViewBag.Date = "December 2015";
    ViewBag.Summary = "Created with a partner and made with Android Studio.";
    ViewBag.Languages = "Java";
    ViewBag.Frameworks = "none";
}
<img src="~/Content/images/cloudify.png">
@section details{
    Calling an API from Forecast.io with internet permisions, this simple weather app 
    will give current, daily, and hourly weather information by parsing JSON data. Upon first opening of the app, 
    it will prompt you to enter your location. Using a Google API location service, 
    your location will be found and then stored in a shared preferences session and weather information will 
    automatically populate henceforth.
    <br /><br />
    <a href="https://play.google.com/store/apps/details?id=com.ambientdevs.weather">View in Play store</a>
    }
@section screenshots{
    <img src="https://lh3.googleusercontent.com/R1MY7ACsnjqObZQODf2-BdQoFuy7-LGgghquIIIL_GkF13finWBeQi0WDUrdNWIs5A=h900-rw" 
         class="img-responsive android">
}