@{
    ViewBag.Title = "ContactMe";
}

<html ng-app="contactPage" ng-controller="ContactPageController">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/page.js"></script>

</head>
<body>
    <div class="container">
        <h1 id="heading">Contact Me  <span><img style="margin-bottom:20px;" src="~/Content/images/ink.png" width="50" height="50" /></span></h1>
        <div class="row col-sm-6">
            <div id="preview">
                To: L S
                <br />
                From: {{email}}
                <br />
                Date: {{date | date:'MMMM dd, yyyy  HH:mm'}}
                <br /><br />
                {{message}}
                <br /><br />
                {{"Your best project is: " + selectedProj}} 
                <br />
                {{"And the rating for it is: " + selectedRating}}
                <br /><br />
                Sincerely,
                <br />{{firstName + ' ' + lastName}}
                
            </div><br />
            <img src="~/Content/images/owlmail.jpg" class="img-responsive" style="float:right;" max-height="175" max-width="175">
        </div>

        <div class="row col-sm-6" id="write">

            <p class="labe">
                FIRST NAME<br />
                <input type="text" ng-model="firstName" class="inpt">
            </p>
            <p class="labe">
                <br />LAST NAME<br />
                <input type="text" ng-model="lastName" class="inpt">
            </p>
            <p class="labe">
                <br />EMAIL<br />
                <input type="text" ng-model="email" class="inpt">
            </p>
            <p class="labe">
                <br />MESSAGE<br />
                <textarea rows="6" type="text" ng-model="message" class="inpt"></textarea>
            </p>
            <p class="labe"><br />FAVORITE PROJECT</p>
            <select class="projects" ng-model="selectedProj">
            <option ng-repeat="project in projects">
                {{project}}
            </option>
            </select>
            <p class="labe"><br />PROJECT RATING</p>
            <select class="ratings" ng-model="selectedRating">
                <option ng-repeat="rating in ratings">
                    {{rating}}
                </option>
            </select>
            <br /><br />
            <input type="button" value="clear" ng-click="clear()" class="b" />
            <input type="button" value="submit" ng-click="submit()" class="b" data-toggle="modal" data-target="#myModal"/>

        </div>

        <div class="row col-sm-8">
            <p ng-click="showInfo()" style="margin-top:20px;"><u>About this page</u></p>
            <p ng-show="moreInfo">
                Created July 2016.
                <br />
                A page created to familiarize myself with AngularJS basics.
            </p>

        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                        <div ng-show="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Thank you, {{firstName + ' ' + lastName}}.</h4>
                            </div>
                            <div class="modal-body">
                                <img src="~/Content/images/barnowl.gif" class="img-responsive" style="display:block; margin:auto;">
                                <br />
                                <p class="popupsuccess" style="font-weight:bold">
                                    Your mail is on its way!
                                </p>
                            </div>
                        </div>
                        <div ng-hide="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error! Message could not be sent.</h4>
                            </div>
                            <div class="modal-body">
                                <img src="~/Content/images/error2.jpg" class="img-responsive" style="display:block; margin:auto;"
                                     height="100" width="100">
                                <br />
                                <p class="popupsuccess">
                                Please try again later.</p>
                            </div>
                        </div>
                  
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
 </body>

</html>