
@{
    ViewBag.Title = "Hemlock";
    Layout = "~/Views/Shared/_ProjectsLayout.cshtml";
    ViewBag.Date = "January - April 2016";
    ViewBag.Summary = "A team of three; Group project for our BCIT course designed to give students real world experience.";
    ViewBag.Languages = "C# . HTML . CSS . SQL";
    ViewBag.Frameworks = "Razor MVC . Bootstrap . Entity";
}
<img src="~/Content/images/roadhouse.png" style="height:200px;width:300px;">
@section details{
Working with Roadhouse Interactive, we designed a new program from scratch to help organize their SR&ED documentation. It is basically CRUD operations in an MVC framework.
<br /><br />Since the web application consists of three pages, each team member took a page to work on. My responsibility was all of the functionality in the Staff Overview. 
<br /><br />This includes:
 <ul class="size">
    <li>sending notification via email</li>
     <li>adding a user to the database</li>
     <li>custom pagination to view any number of employees per page</li>
     <li>buttons to redirect and pass values to another page</li>
     <li>the date range which changes all numeric values on the page by creating and implementing my own algorithm</li>
 </ul>
}
@section screenshots{
    <img src="~/Content/images/staff.png" class="img-responsive">
    <img src="~/Content/images/sendemail.png" class="img-responsive">
    <img src="~/Content/images/staff2.png" class="img-responsive">
}