
@{
    ViewBag.Title = "SafetyButton";
    Layout = "~/Views/Shared/_ProjectsLayout.cshtml";
    ViewBag.Date = "March 5-6, 2016";
    ViewBag.Summary = "An open source hackathon project in a team of three for non-profit companies.";
    ViewBag.Languages = "Java . XML . PHP";
    ViewBag.Frameworks = "Laravel";
   }
<img src="~/Content/images/vanhacks.jpg" class="img-responsive"> 
@section details{
    Our team chose to create a security app for EVA BC. In 28 hours, we have deployed a working app able to communicate to the website. Our
        code is open sourced <a href="https://github.com/mssshu/SafetyButton">here</a> and <a href="https://github.com/mssshu/SafetyButtonSite">here</a>.
    <br/><br/>
    Click for the <a href="http://globalnews.ca/news/2559959/vancouver-hackathon-looks-to-create-tech-solutions-for-local-charities/">Global News article</a>.
    
    }
@section screenshots{
<img src="~/Content/images/vanhacks1.jpg" class="img-responsive">
<img src="~/Content/images/vanhacks2.jpg" class="img-responsive">
    }