
@{
    ViewBag.Title = "TracingPaper";
    Layout = "~/Views/Shared/_ProjectsLayout.cshtml";
    ViewBag.Date = "May 2016 - July 2016 (first iteration, more is coming)";
    ViewBag.Summary = "An individual project made with Android Studio.";
    ViewBag.Frameworks = "none";
    ViewBag.Languages = "Java . SQLite";
}
<img src="~/Content/images/tracingpaper.jpg">
@section details{
    A personalized app with CRUD operations to manage my spendings. 
    <br /><br />
    <a href="https://play.google.com/store/apps/details?id=com.ludevcode.tracingpaper">View in Play store</a>
}

@section screenshots{
    <img src="~/Content/images/tracemain.png" class="img-responsive android">
    <img src="~/Content/images/budget.png" class="img-responsive android">
}