.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background-color: #0e0e0e;
  padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

html, body {
 background: url('../images/background.png');
 background-size: 34px 322px;
 background-repeat: repeat;
 min-height: 100%;
}
.container{
  padding: 3%;
}
.nav{
  font-family: georgia;
}