.navbar {
  margin-bottom: 0;
  border-radius: 2;
}
.jumbotron {
  padding: 0;
  background-color:#FDFEFE;
}
footer {
  background-color: #0e0e0e;
  min-height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding: 10px 25px 0 25px;
}
html {
 background: url('../images/background.png');
 background-repeat: repeat;
}
html {
 position: relative;
 min-height: 100%;
 width: 80%;
 margin: auto;
}
body{
  background-color:#FDFEFE;
  height:100%;
}
.nav{
  font-family:  "Courier New", Courier, monospace;
}
audio {
    background-color: #0e0e0e;
    margin-top: 15px;
    margin-right: 15px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p, h1, h3, ul {
  font-family: "Courier New", Courier, monospace;
}

h1, h3, a:hover {
  color: #6d677c;
}
.col-md-4, .col-sm-12, .col-md-6 {
  padding: 25px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.container {
  width: 80%;
  margin-bottom: 100px;
}
#subtitle {
  font-size:12px;
}
#details{
  margin-top: 25px;
  height: 100%;
  position: relative;
  top:0;
  left:0;
  z-index:1;
  display:none;
}
.click {
  color: #6d677c;
}
.projectIcon {
  max-height: 50%;
  max-width: 50%;
  float: left;
  padding: 25px;
}
.row {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.top {
  border-top-style:solid;
  border-color: #eeeeee;
  border-width: 2px;
}
.left {
  border-left-style:solid;
  border-color: #eeeeee;
  border-width: 2px;
}
.right {
  border-right-style:solid;
  border-color: #eeeeee;
  border-width: 2px;
}
.pic {
  margin-top:5px;
}
.icon {
  float: right;
  max-height: 35px;
  padding: 5px;
}
.padding {
  padding: 25px;
}
.notice {
  padding-top: 160px;
}
#footer-text {
  float:left;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover.hover{
  font-weight: bolder;
  font-size: 13px;
  cursor: pointer;
}
.hobbiesBorder {
  border-left-style: solid;
  border-right-style: solid;
  border-color: #eeeeee;
  border-width: 2px;
  padding: 0px 5px;
}
#books, #hobbies, #courses{
  display:none;
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}